<!-- Se carga la plantilla base -->
{% extends 'base.html' %} <!-- ruta de la plantilla base -->
{% load static %} <!-- Se cargan los script e imagenes -->
<!--Titulo de la pestaña-->
{% block Title_head %}
<title>{{ titulo }}</title>
<link rel="stylesheet" href="{% static 'contrato.css' %}">
{% endblock %}
{% block title %}
<span class="h2 align-middle ms-3 admin">
        {{ titulo }}
    </span>
{% endblock %}
{% block content %}
    <!-- Usa Tailwind CSS para un diseño moderno y responsive -->
<div class="">

    <form method="post" class="">
        {% csrf_token %}
        {{ form.media }}
        
        <!-- SECCIÓN 1: DATOS GENERALES DEL CONTRATO -->
        <div class="container mt-4">
            <h2 class="poliza">Información General del Contrato</h2>
            <div class="row g-3">
                <div class="col-md-3 campos">
                {% if nombre_cableoperador %}
                <label class="" style="font-weight: 700;">Cableoperador : {{ nombre_cableoperador }}</label>
                {% else %}
                {% with field=form.cableoperador %}
                <label class="" for="{{ field.id_for_label }}" style="font-weight: 700;">
                    {{ field.label }}
                </label>
                {{ field }}
                    {% if field.errors %}
                        <p class="">{{ field.errors.as_text }}</p>
                    {% endif %}
                    {% endwith %}
                {% endif %}
                </div>

                <div class="col-md-3 campos">
                    {% with field=form.tipo_contrato %}
                    <label class="" for="{{ field.id_for_label }}" style="font-weight: 700;">
                        {{ field.label }}
                    </label>
                    {{ field }}
                        {% if field.errors %}
                            <p class="">{{ field.errors.as_text }}</p>
                        {% endif %}
                </div>
                {% endwith %}
                <div class="col-md-3  campos">
                    {% with field=form.estado_contrato %}
                    <label class="" for="{{ field.id_for_label }}" style="font-weight: 700;">
                        {{ field.label }}
                    </label>
                    {{ field }}
                        {% if field.errors %}
                            <p class="">{{ field.errors.as_text }}</p>
                        {% endif %}
                </div>
                {% endwith %}
                <div class="col-md-2 campos">
                    {% with field=form.duracion_anos %}
                    <label class="" for="{{ field.id_for_label }}" style="font-weight: 700;">
                        {{ field.label }}
                    </label>
                    {{ field }}
                        {% if field.errors %}
                            <p class="">{{ field.errors.as_text }}</p>
                        {% endif %}
                </div>
                {% endwith %}
                <div class="col-md-3 campos">
                    {% with field=form.inicio_vigencia %}
                    <label class="" for="{{ field.id_for_label }}" style="font-weight: 700;">
                        {{ field.label }}
                    </label>
                    {{ field }}
                        {% if field.errors %}
                            <p class="col-md-4">{{ field.errors.as_text }}</p>
                        {% endif %}
                </div>
                {% endwith %}
                <div class="col-md-4 campos">
                    {% with field=form.fin_vigencia %}
                    <label class="" for="{{ field.id_for_label }}" style="font-weight: 700;">
                        {{ field.label }}
                    </label>
                    {{ field }}
                        {% if field.errors %}
                            <p class="">{{ field.errors.as_text }}</p>
                        {% endif %}
                </div>
                {% endwith %}
                <div class="col-md-4 campos">
                    {% with field=form.valor_contrato %}
                    <label class="" for="{{ field.id_for_label }}" style="font-weight: 700;">
                        {{ field.label }}
                    </label>
                    {{ field }}
                        {% if field.errors %}
                            <p class="">{{ field.errors.as_text }}</p>
                        {% endif %}
                </div>
                <div style="border: 5px solid black;" class="row">
                    <div class="col-12 text- poliza"><h2>Poliza de cumplimiento</h2></div>
                    {% endwith %}
                    <div class="col-md-3 poliza">
                        {% with field=form.numero_poliza_cumplimiento %}
                        <label class="flex-grow-1" for="{{ field.id_for_label }}" style="font-weight: 700;">
                            {{ field.label }}
                        </label>
                        {{ field }}
                            {% if field.errors %}
                                <p class="">{{ field.errors.as_text }}</p>
                            {% endif %}
                    </div>
                    {% endwith %}
                    <div class="col-md-4 poliza">
                        {% with field=form.vigencia_amparo_poliza_cumplimiento %}
                        <label class="" for="{{ field.id_for_label }}" style="font-weight: 700;">
                            {{ field.label }}
                        </label>
                        {{ field }}
                            {% if field.errors %}
                                <p class="">{{ field.errors.as_text }}</p>
                            {% endif %}
                    </div>
                    {% endwith %}
                    <div class="col-md-4 poliza">
                        {% with field=form.inicio_vigencia_poliza_cumplimiento %}
                        <label class="" for="{{ field.id_for_label }}" style="font-weight: 700;">
                            {{ field.label }}
                        </label>
                        {{ field }}
                            {% if field.errors %}
                                <p class="">{{ field.errors.as_text }}</p>
                            {% endif %}
                    </div>
                    {% endwith %}
                    <div class="col-md-3 poliza">
                        {% with field=form.fin_vigencia_poliza_cumplimiento %}
                        <label class="flex-grow-1" for="{{ field.id_for_label }}" style="font-weight: 700;">
                            {{ field.label }}
                        </label>
                        {{ field }}
                            {% if field.errors %}
                                <p class="">{{ field.errors.as_text }}</p>
                            {% endif %}
                    </div>
                    {% endwith %}
                    <div class="col-md-4 poliza">
                        {% with field=form.monto_asegurado_poliza_cumplimiento %}
                        <label class="" for="{{ field.id_for_label }}" style="font-weight: 700;">
                            {{ field.label }}
                        </label>
                        {{ field }}
                            {% if field.errors %}
                                <p class="">{{ field.errors.as_text }}</p>
                            {% endif %}
                    </div>
                    {% endwith %}
                    <div class="col-md-4 poliza">
                        {% with field=form.valor_monto_asegurado_poliza_cumplimiento %}
                        <label class="" for="{{ field.id_for_label }}" style="font-weight: 700;">
                            {{ field.label }}
                        </label>
                        {{ field }}
                            {% if field.errors %}
                                <p class="">{{ field.errors.as_text }}</p>
                            {% endif %}
                    </div>
                    {% endwith %}
                    <div class="col-md-3 poliza">
                        {% with field=form.valor_asegurado_poliza_cumplimiento %}
                        <label class="flex-grow-1" for="{{ field.id_for_label }}" style="font-weight: 700;">
                            {{ field.label }}
                        </label>
                        {{ field }}
                            {% if field.errors %}
                                <p class="">{{ field.errors.as_text }}</p>
                            {% endif %}
                    </div>
                    {% endwith %}
                    <div class="col-md-2 poliza">
                        {% with field=form.inicio_amparo_poliza_cumplimiento %}
                        <label class="" for="{{ field.id_for_label }}" style="font-weight: 700;">
                            {{ field.label }}
                        </label>
                        {{ field }}
                            {% if field.errors %}
                                <p class="">{{ field.errors.as_text }}</p>
                            {% endif %}
                    </div>
                    {% endwith %}
                    <div class="col-md-3 poliza">
                        {% with field=form.fin_amparo_poliza_cumplimiento %}
                        <label class="" for="{{ field.id_for_label }}" style="font-weight: 700;">
                            {{ field.label }}
                        </label>
                        {{ field }}
                            {% if field.errors %}
                                <p class="">{{ field.errors.as_text }}</p>
                            {% endif %}
                    </div>
                    {% endwith %}
                    <div class="col-md-3 poliza">
                        {% with field=form.expedicion_poliza_cumplimiento %}
                        <label class="flex-grow-1" for="{{ field.id_for_label }}" style="font-weight: 700;">
                            {{ field.label }}
                        </label>
                        {{ field }}
                            {% if field.errors %}
                                <p class="">{{ field.errors.as_text }}</p>
                            {% endif %}
                    </div>
                    {% endwith %}
                </div>
                <div style="border: 5px solid black;" class="row">
                    <div class="col-12 text-black poliza"><h2>Poliza de RCE</h2></div>
                    <div class="col-md-3 poliza">
                        {% with field=form.numero_poliza_rce %}
                        <label class="flex-grow-1" for="{{ field.id_for_label }}" style="font-weight: 700;">
                            {{ field.label }}
                        </label>
                        {{ field }}
                            {% if field.errors %}
                                <p class="">{{ field.errors.as_text }}</p>
                            {% endif %}
                    </div>
                    {% endwith %}
                    <div class="col-md-4 poliza">
                        {% with field=form.vigencia_amparo_poliza_rce %}
                        <label class="" for="{{ field.id_for_label }}" style="font-weight: 700;">
                            {{ field.label }}
                        </label>
                        {{ field }}
                            {% if field.errors %}
                                <p class="">{{ field.errors.as_text }}</p>
                            {% endif %}
                    </div>
                    {% endwith %}
                    <div class="col-md-4 poliza">
                        {% with field=form.inicio_vigencia_poliza_rce %}
                        <label class="" for="{{ field.id_for_label }}" style="font-weight: 700;">
                            {{ field.label }}
                        </label>
                        {{ field }}
                            {% if field.errors %}
                                <p class="">{{ field.errors.as_text }}</p>
                            {% endif %}
                    </div>
                    {% endwith %}
                    <div class="col-md-2 poliza">
                        {% with field=form.fin_vigencia_poliza_rce %}
                        <label class="flex-grow-1" for="{{ field.id_for_label }}" style="font-weight: 700;">
                            {{ field.label }}
                        </label>
                        {{ field }}
                            {% if field.errors %}
                                <p class="">{{ field.errors.as_text }}</p>
                            {% endif %}
                    </div>
                    {% endwith %}
                    <div class="col-md-3 poliza">
                        {% with field=form.monto_asegurado_poliza_rce %}
                        <label class="" for="{{ field.id_for_label }}" style="font-weight: 700;">
                            {{ field.label }}
                        </label>
                        {{ field }}
                            {% if field.errors %}
                                <p class="">{{ field.errors.as_text }}</p>
                            {% endif %}
                    </div>
                    {% endwith %}
                    <div class="col-md-4 poliza">
                        {% with field=form.valor_monto_asegurado_poliza_rce %}
                        <label class="" for="{{ field.id_for_label }}" style="font-weight: 700;">
                            {{ field.label }}
                        </label>
                        {{ field }}
                            {% if field.errors %}
                                <p class="">{{ field.errors.as_text }}</p>
                            {% endif %}
                    </div>
                    {% endwith %}
                    <div class="col-md-2 poliza">
                        {% with field=form.valor_asegurado_poliza_rce %}
                        <label class="flex-grow-1" for="{{ field.id_for_label }}" style="font-weight: 700;">
                            {{ field.label }}
                        </label>
                        {{ field }}
                            {% if field.errors %}
                                <p class="">{{ field.errors.as_text }}</p>
                            {% endif %}
                    </div>
                    {% endwith %}
                    <div class="col-md-4 poliza">
                        {% with field=form.inicio_amparo_poliza_rce %}
                        <label class="" for="{{ field.id_for_label }}" style="font-weight: 700;">
                            {{ field.label }}
                        </label>
                        {{ field }}
                            {% if field.errors %}
                                <p class="">{{ field.errors.as_text }}</p>
                            {% endif %}
                    </div>
                    {% endwith %}
                    <div class="col-md-4 poliza">
                        {% with field=form.fin_amparo_poliza_rce %}
                        <label class="" for="{{ field.id_for_label }}" style="font-weight: 700;">
                            {{ field.label }}
                        </label>
                        {{ field }}
                            {% if field.errors %}
                                <p class="">{{ field.errors.as_text }}</p>
                            {% endif %}
                    </div>
                    {% endwith %}
                    <div class="col-md-3 poliza ">
                        {% with field=form.expedicion_poliza_rce %}
                        <label class="flex-grow-1" for="{{ field.id_for_label }}" style="font-weight: 700;">
                            {{ field.label }}
                        </label>
                        {{ field }}
                            {% if field.errors %}
                                <p class="">{{ field.errors.as_text }}</p>
                            {% endif %}
                    </div>
                    {% endwith %}
                </div>
                <div class="col-md-2 poliza">
                    {% with field=form.tomador %}
                    <label class="" for="{{ field.id_for_label }}" style="font-weight: 700;">
                        {{ field.label }}
                    </label>
                    {{ field }}
                        {% if field.errors %}
                            <p class="">{{ field.errors.as_text }}</p>
                        {% endif %}
                </div>
                {% endwith %}
                <div class="col-md-3 poliza">
                    {% with field=form.aseguradora %}
                    <label class="" for="{{ field.id_for_label }}" style="font-weight: 700;">
                        {{ field.label }}
                    </label>
                    {{ field }}
                        {% if field.errors %}
                            <p class="">{{ field.errors.as_text }}</p>
                        {% endif %}
                </div>
                {% endwith %}
                <div class="col-md-3 poliza">
                    {% with field=form.fecha_radicacion %}
                    <label class="" for="{{ field.id_for_label }}" style="font-weight: 700;">
                        {{ field.label }}
                    </label>
                    {{ field }}
                        {% if field.errors %}
                            <p class="">{{ field.errors.as_text }}</p>
                        {% endif %}
                </div>
                {% endwith %}
                <div class="col-md-3 poliza">
                    {% with field=form.tipo_fecha_radicacion %}
                    <label class="" for="{{ field.id_for_label }}" style="font-weight: 700;">
                        {{ field.label }}
                    </label>
                    {{ field }}
                        {% if field.errors %}
                            <p class="">{{ field.errors.as_text }}</p>
                        {% endif %}
                </div>
                {% endwith %}
                <div class="col-md-">
                    {% with field=form.fecha_preliquidacion %}
                    <label class="" for="{{ field.id_for_label }}" style="font-weight: 700;">
                        {{ field.label }}
                    </label>
                    {{ field }}
                        {% if field.errors %}
                            <p class="">{{ field.errors.as_text }}</p>
                        {% endif %}
                </div>
                {% endwith %}
            </div>
        </div>
        
        <!-- SECCIÓN 2: RECURSOS POR ALTURA (CABLE, CAJA, RESERVA, NAP) -->
        <div class="container mt-4 ">
            
            <!-- Cable Formset -->
            <div class="col-md-12 poliza" style="font-weight: 700;text-align: center;"><h2>Uso de Cables</h2></div>
            <strong><div class="row g-3 ">
                {{ cable_formset.management_form }}
                {% for form in cable_formset %}
                    {% include "contratos/recurso_fields.html" with form=form %}
                {% endfor %}
            </div></strong>

            <!-- Caja de Empalme Formset -->
            <div class="col-md-12 poliza" style="font-weight: 700 ;text-align: center;"><h2>Uso de Caja de Empalme</h2></div>
            <strong><div class="row g-3">
                {{ caja_empalme_formset.management_form }}
                {% for form in caja_empalme_formset %}
                    {% include "contratos/recurso_fields.html" with form=form %}
                {% endfor %}
            </div></strong>

            <!-- Reserva Formset -->
            <div class="col-md-12 poliza" style="font-weight: 700;text-align:center;"><h2>Uso de Reserva</h2></div>
           <strong><div class="row g-3">
                {{ reserva_formset.management_form }}
                {% for form in reserva_formset %}
                    {% include "contratos/recurso_fields.html" with form=form %}
                {% endfor %}
            </div></strong>
           
            <!-- Nap Formset -->
            <div class="col-md-12 poliza" style="font-weight: 700;text-align: center;"><h2>Uso de NAP</h2></div>
           <strong> <div class="row g-3">
                {{ nap_formset.management_form }}
                {% for form in nap_formset %}
                    {% include "contratos/recurso_fields.html" with form=form %}
                {% endfor %}
            </div>
            </strong>
        </div>
            <center>
        <button type="submit" class="p-3 mb-2 bg-primary text-white">
    Guardar Contrato
        </button></center>
    </form>
</div>
{% endblock %}